<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div th:class="container">
        <h2>List of Contacts</h2>
        <a th:href="@{/addContactForm}" class="btn btn-primary mb-3">Add New Contact</a>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>email</th>
                    <th>phoneNo</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contact: ${contacts}">
                    <td th:text="${contact.firstname}"></td>
                    <td th:text="${contact.lastname}"></td>
                    <td th:text="${contact.email}"></td>
                    <td th:text="${contact.phoneNo}"></td>
                    <td th:text="${contact.address}"></td>
                    <td>
                        <a th:href="@{/addContactForm(contactId = ${contact.id})}" class="btn btn-info">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>