<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts List</title>
    <link href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
  <!--  <link rel="stylesheet" th:href="@{/css/dataTables.min.css}">  -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div th:class="container">
        <h2>List of Contacts</h2>
        <a th:href="@{/addContactForm}" class="btn btn-primary mb-3">Add New Contact</a>
        <table class="table table-bordered table-striped table-hover" id="contact-list">
            <thead>
                <tr>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>email</th>
                    <th>phoneNo</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contact: ${contacts}">
                    <td th:text="${contact.firstname}"></td>
                    <td th:text="${contact.lastname}"></td>
                    <td th:text="${contact.email}"></td>
                    <td th:text="${contact.phoneNo}"></td>
                    <td th:text="${contact.address}"></td>
                    <td>
                        <a th:href="@{/editContactForm(contactId=${contact.id})}" class="btn btn-info">Update</a>
                        <a th:href="@{/deleteContact(contactId=${contact.id})}" class="btn btn-danger m-2">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>
  <!--  <script type="text/javascript" th:href="@{/jQuery/datatables.min.js}"></script>  -->
    <script>
        $(document).ready(function () {
            $("#contact-list").DataTable({
                'aoColumnDefs' : [{
                    'bSortable' : false,
                    'aTargets' : [-1]
                }]
            });
        })
    </script>
</body>
</html>